page-testing2 {

}


.smallHeight{
	height:4em;
	border-bottom: grey 1px solid;
}

.expand{
	height:60vh;
}

.fillHeight{
	height:100%;
}

.borBot{
	// border-bottom: grey 1px solid;
	padding-bottom:2em;
	// height:20vh;
}

.fillWidth{
	width:100%;
	background : white;
}