<!-- Generated template for the AddGoalComponent component -->
<div>
  {{text}}
</div>

    <ion-item>
    <ion-label color="primary">Item name: </ion-label>
    <ion-input placeholder="Text Input"></ion-input>
    </ion-item>
  
    <ion-item>
    <ion-input type="number" placeholder="$"></ion-input>
    </ion-item>

      <ion-list>
    <ion-list-header >
        <ion-grid>
            <ion-row><span id="title">Proportion of salary:</span></ion-row>
            <ion-row class="badge"><ion-badge  item-end color="dark">Car {{structure.lower}}%</ion-badge>
            <ion-badge item-end color="dark">iPhone {{structure.upper - structure.lower}}%</ion-badge></ion-row>
            </ion-grid>
    </ion-list-header>
    <ion-item>
      <ion-range dualKnobs="true" pin="false" [(ngModel)]="structure" (ionChange)="onChange($event)" color="dark">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>100</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>


