page-testing {

}

#cardHeader{
	border-bottom: grey 2px solid;
}


.small{
	// height: 20px;
	width: 100%;
}

.rmPadding{
	padding:0;
}

.TextL{
	font-size:40px;
}

.green{
	color:lightgreen;
}


.progress-outer {
	width: 96%;
	margin: 10px;
	padding: 3px;
	text-align: center;
	background-color: #f4f4f4;
	border: 1px solid #dcdcdc;
	color: #fff;
	border-radius: 20px;
}

.progress-inner {
	min-width: 15%;
	white-space: nowrap;
	overflow: hidden;
	padding: 5px;
	border-radius: 20px;
	background-color: map-get($colors, primary);

}